// app global css in SCSS form
@mixin cards {
  width: 100%;
  overflow: auto;
  width: 304px;
  min-height: 200px;
  margin: 10px 2px;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: #eef4f8;
}
.capitalize {
  text-transform: capitalize;
}
.my-card {
  width: 304px;
  min-height: 140px;
}
.my-card-s {
  @include cards;
  max-height: 240px;
}
.my-card-s-180x304 {
  @include cards;
  max-height: 180px;
}
.my-card-s-270-304 {
  @include cards;
  height: 270px;
  min-height: 200px;
}

.my-card-s-500-304 {
  @include cards;
  min-height: 250px;
  max-height: 500px;
}

.my-card-s-310-380 {
  @include cards;
  min-height: 250px;
  height: 310px;
  width: 380px;
}

.my-card-pesquisa {
  @include cards;
  min-height: 250px;
  max-height: 100%;
}
.my-card-s-100mx-30 {
  width: 100%;
  overflow: auto;
  min-height: 30px;
  margin: 10px 2px 10px 20px;
  padding: 3px 20px 0px 20px;
  background-color: #fff;
}
.bg-active {
  background-color: #64db63;
}
.bg:hover {
  background-color: rgb(184, 209, 255);
  transition: 1s;
}
::-webkit-scrollbar {
  width: 5px;
}
::webkit-scrollbar-track {
  border-radius: 5px;
  box-shadow: inset 0 0 10 rgba(0, 0, 0, 0.25);
}
::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: $primary;
}
.textarea {
  background-color: #fff;
  border: 1px solid #bebcbc;
  margin-top: 5px;
  padding: 0px 10px;
}
